<html>
  <head>
    <title>View 5 | Codechum Academy Output 1</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  </head>
  <body>
    <div class="container-view-5">
      <div class="item item-1"></div>
      <div class="item item-2"></div>
      <div class="item item-3"></div>
      <div class="item item-4"></div>
      <div class="subcontainer">
        <div class="item item-5"></div>
        <div class="item item-6"></div>
      </div>
    </div>
  </body>
</html>
